.table {
    width: 100%;
}

.btn {
    display: flex;
    justify-content: space-between;
    width: 18%;
    
}

.data {
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
}